# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/
.venv/
venv/
env/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
.coverage.*

# Raiku runtime
.raiku/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Build artefacts
target/          # Rust/Cargo
out/             # Java javac output
build/           # CMake / Zig
*.class          # Java bytecode
*.o              # C/C++ object files
*.a              # Static libraries
*.lib
